.player-names-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.player-names-form {
  background: #33135C;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 65vh;
  justify-content: space-evenly;
  padding: 3vh;
  width: 50vw;
  -webkit-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 1);
}

.form-title {
  color: #FFD300;
  font-size: 2.5rem;
  margin: 0 auto;
  text-shadow: #FFF 0px 0px 2px,
  #FFF 0px 0px 5px,
  #FFF 0px 0px 7px,
  #FFD300 0px 0px 20px,
  #FFD300 0px 0px 30px,
  #FFD300 0px 0px 40px,
  #FFD300 0px 0px 50px,
  #FFD300 0px 0px 75px,
  2px 2px 2px rgba(8, 247, 254, 0.68);
}

.player-1-name {
  color: #13CA91;
  text-shadow: #FFF 0px 0px 2px,
  #FFF 0px 0px 5px,
  #FFF 0px 0px 7px,
  #13CA91 0px 0px 20px,
  #13CA91 0px 0px 30px,
  #13CA91 0px 0px 40px,
  #13CA91 0px 0px 50px,
  #13CA91 0px 0px 75px,
  2px 2px 2px rgba(8, 247, 254, 0.68);
}

.player-2-name {
  color: #FF9472;
  text-shadow: #FFF 0px 0px 2px,
  #FFF 0px 0px 5px,
  #FFF 0px 0px 7px,
  #FF9472 0px 0px 20px,
  #FF9472 0px 0px 30px,
  #FF9472 0px 0px 40px,
  #FF9472 0px 0px 50px,
  #FF9472 0px 0px 75px,
  2px 2px 2px rgba(8, 247, 254, 0.68);
}

input {
  font-size: 1.5rem;
  height: 5vh;
  margin: 0 auto;
  padding: 7px;
  width: 80%;
}

.submit-btn {
  font-size: 1.25rem;
  height: 5vh;
  margin: 0 auto;
  width: 25%;
}

.submit-btn:hover {
  cursor: pointer;
}

.pname-error-msg {
  color: #d30505;
  font-size: 1rem;
}